/* Style sheet for the poseidon page of the pROVe website

   Creator: Ben Green
   Date: 12/21/14

   Filename: poseidon_styles.css
   Supporting files: prove_styles.css
*/


@import url("prove_styles.css");


/* Header Style */

header nav ul li.rov a {
  background-color: #F96300;
  border: 3px inset #59A7F0;
  
}

@media (max-width : 400px) {
  header nav ul li.rov a {
    height: 35px;
    line-height: 35px;
  }

  section.Mk1 {
    margin-top: 70px;
  }
}

@media (min-width : 401px) {
  header nav ul li.rov a {
    height: 45px;
    line-height: 45px;
  }

  section.Mk1 {
    margin-top: 80px;
  }
}

@media (min-width : 701px) {
  header nav ul li.rov a {
    height: 70px;
    line-height: 70px;
  }

  section.Mk1 {
    margin-top: 105px;
  }
}


/* General Section and Article Styles */

section {
  margin: 40px auto 30px;
  width: 80%;
}

section img {
  border: 1px solid gray;
}

article {
  margin-bottom: 20px;
}


/* Heading Styles */

h1 {
  background-color: #FF6A00;
  margin-bottom: 20px;
  padding: 1px;
}

@media (max-width : 700px) {
  h1 {
    font-size: 1.1em;
  }
}

@media (min-width : 701px) {
  h1 {
    font-size: 1.6em;
  }
}


/* Image Styles */


h2 img {
  display: block;
  float: left;
  margin: 0px 20px 15px 1px;
  width: 40%;
}

h3 {
  clear: left;
  width: 100%;
}

h3 img {
  margin-left: 8%;
  width: 18%;
}

h3 img.left {
  margin-left: 0%;
}

table {
  clear: left;
}

td img {
  width: 70%;
}


/* Text Styles */

div p {
  margin-top: 20px;
  text-align: left;
}

@media (max-width : 600px) {
  div p, a {
    font-size: 0.8em;
  }
}

@media (min-width : 601px) {
  div p, a {
    font-size: 0.9em;
  }
}

@media (min-width : 1000px) {
  div p, a {
    font-size: 0.95em;
  }
}

@media (min-width : 1200px) {
  div p, a {
    font-size: 1em;
  }
}

@media (min-width : 1400px) {
  div p, a {
    font-size: 1.05em;
  }
}

@media (min-width : 1600px) {
  div p, a {
    font-size: 1.1em;
  }
}

@media (min-width : 1800px) {
  div p, a {
    font-size: 1.15em;
  }
}

@media (min-width : 2000px) {
  div p, a {
    font-size: 1.2em;
  }
}