/* Style sheet for the Media page of the pROVe website

   Creator: Ben Green
   Date: 11/27/14

   Filename: media_styles.css
   Supporting files: prove_styles.css
*/


@import url("prove_styles.css");


/* Header Style */

header nav ul li.pics a {
  background-color: #F96300;
  border: 3px inset #59A7F0;
}

@media (max-width : 400px) {
  header nav ul li.pics a {
    height: 35px;
    line-height: 35px;
  }

  section {
    margin-top: 80px;
  }
}

@media (min-width : 401px) {
  header nav ul li.pics a {
    height: 45px;
    line-height: 45px;
  }

  section {
    margin-top: 90px;
  }
}

@media (min-width : 701px) {
  header nav ul li.pics a {
    height: 70px;
    line-height: 70px;
  }

  section {
    margin-top: 115px;
  }
}


/* Table Styles */

table {
  margin: 0px auto 50px;
  width: 94%;
}

table img {
  display: block;
  border: 5px ridge #00106B;
  width: 100%;
}

table th h1 {
  margin: 0px auto;
  width: 85%;
}

table th {
  width: 60%;
}

table.bottom {
  margin-bottom: 30px;
}

td a {
  background-color: #FF6A00;
  padding: 3px 15px 5px;

  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

@media (max-width : 500px) {
  td a {
    font-size: 0.6em;
  }
}

@media (min-width : 501px) {
  td a {
    font-size: 0.9em;
  }
}

@media (min-width : 600px) {
  td a {
    font-size: 1.1em;
  }
}

@media (min-width : 900px) {
  td a {
    font-size: 1.5em;
  }
}

@media (min-width : 1200px) {
  td a {
    font-size: 1.9em;
  }
}